*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 100px 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}
.container .nav{
    border-top: 5px solid orange;
}
.header{
    text-align: center;
    position: relative;
}
.header-1{
    width: 300px;
    background-color: rgb(114, 99, 61);
    position: absolute;
    top: 400px;
left: 400px;
opacity: 85%;
}
.container h1{
    padding-top: 50px;
}
.container p{
    padding-top: 20px;
}